body {
    background-color: #E0E0E9;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    color: #1F1F2C;
}

main {
    background-color: white;
}


.logo {
    background-color: #CD102D;
}

h1{
    color:#646472;
    font-size: 1.875rem;
}
h2 {
    color:#858592;
    font-size: 1.125rem;
}
h3 {
    color:#1F1F2C;
    font-size: 0.75rem;
    font-weight: 700;
}
.text-red {
    color:#CD102D;
}
.text-white {
    color:#ffffff;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}

a {
    color: #CC102C;
}
a:hover {
    color: #6F0917;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #CC102C;
    content: "»";
}
.btn-danger {
    color: #fff;
    background-color: #cd102d;
    border-color: #afafaf;
}
.btn-danger:hover {
    color: #fff;
    background-color: #cd102d;
  }
.btn-danger.focus,.btn-danger:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #cd102d;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #cd102d;
}
.btn-light {
    color: #cd102d;
    background-color: #fff;
    border-color: #afafaf;
}
.btn-light:hover {
    color: #cd102d;
    background-color: #fff;
  }
.btn-light.focus,.btn-light:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #fff;
    color: #cd102d;
}
.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>.btn-light.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #fff;
    color: #cd102d;
}

.btn-dark {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}
.btn-dark:hover {
    color: #fff;
    background-color: #2c2c2c;
  }
.btn-dark.focus,.btn-dark:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #2c2c2c;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-dark.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(255,255,255,0);
    background-color: #2c2c2c;
}

.btn {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: .375rem .5rem;
    line-height: 1;
    border-radius: 0rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    display: block;
   
    padding: .375rem .75rem;
    font-size: 0.6875rem;;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aeaeae;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.col-form-label {
    padding-top: 0rem;
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}


.sidebar-menu-item {
    position: relative;
    display: block;
    padding: .25rem 0.50rem;
    margin-bottom: -1px;
    background-color: #fff;
    border:0px;
}

.sidebar-menu-item-first-child {
    margin-bottom: 0px;
    border-top:0px;
    border-left:0px;
    border-right: 0px;
    border-bottom:1px solid #e0e0e9;
}

.sidebar-menu-item::before {
    color: #CC102C;
    content: "»";
    padding: 0px .25rem;
}



.footer .sidebar-menu-item {
    position: relative;
    display: block;
    padding: .25rem 0.50rem;
    margin-bottom: -1px;
    background-color: #2c2c2c;
    border:0px;
}

.footer .sidebar-menu-item-first-child {
    margin-bottom: 0px;
    border-top:0px;
    border-left:0px;
    border-right: 0px;
    border-bottom:1px solid #e0e0e9;
}

.footer .sidebar-menu-item::before {
    color: #CC102C;
    content: "»";
    padding: 0px .25rem;
}


.greyBackground {
    background-color: #ececf2;
}
.redBackground {
    background-color: #cd102d;
}

.table-price {
    width:200px;
    border-spacing: 0px;
    border:none;
    margin-bottom: 0;
}
.span-price {
    color: #cd102d;
    font-weight: 700;
}
table td, .table th {
    border-top: 0px!important;
}

.full-img {
    width:100%;
}

footer {
    color:#fff;
    font-size: 0.875rem;
}
.footer .header {
    font-weight: 700;
    padding-bottom: .375rem;
    font-size: 0.875rem;
}
.footer .sitelinks {
    padding-top: .4rem;
    padding-bottom: .3rem;
} 
.footer .pin {
    padding-right: .25rem;
}
.footer-top {
    background-color:#2c2c2c;
    
    color:#fff;
}
.footer-bottom {
    background-color:#cd102d;
    margin-top: -28px;
    height: 28px;
    text-align: center;
    color: #fff;
    display: table;
    position: absolute; 
}
.footer a {
    color:#FFF;
    font-size:0.75rem;
}
.footer a:hover {
    color:#CC102C;
}
.footer-bottom a {
    color:#FFF;
    font-weight: 700;
}
.footer-bottom a:hover {
    color:#2c2c2c;
}


.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:.50rem;
}

.footer-list {
    position: relative;
    display: block;
    padding: .25rem 0rem;
    list-style: none;
}

.footer-list-item {
    overflow: visible;
    position: relative;
    padding: .25rem 0rem;
}
.footer-list-item:before {
    content: "»";
    left:-1rem;
    position: absolute;
    color:#cd102d;
}

/* navbar       */

.navbar-light .navbar-nav .show > .nav-link {
    color:#fff;
    background-color: #9A0C21; 
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #fff;

}
.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background-color: #9A0C21;
    background: transparent;
    outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
    display: none;
}

.navbar {
    padding: 0px;
}
.nav-link {
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 5px 17px 4px 17px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus  {
    color: #fff;
   
}
.navbar-light .navbar-nav .dropdown-menu .show > .dropdown-item {
    color:#fff;
    background-color: #9A0C21; 
}
.bg-light , .dropdown-menu{
    background-color: #2C2C2C!important;
    color:white;
    font-size: .75rem;
}
ul .dropdown-menu {
    margin:0px;
    font-size: 0.875rem;
}
.dropdown-item {
    color: #fff;
    text-decoration: none;
}
.show .dropdown-item .show, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #9A0C21;
}
.show .dropdown-item:active, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2C2C2C;
}

.navbar-brand {
    display: inline-block;
    padding: 0.25rem 0rem;
    margin-right: 0.75rem;
    font-size: 0.75rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-light .navbar-brand {
    color: white;
    padding-right: 0.50rem;
    padding-left:0.50rem;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: white;
    background-color: #9A0C21;
  }
  
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.dropdown-toggle::after{
    display: none;
}
.navbar-light .navbar-nav .nav-link.show {
    color:white;
}
.dropdown-menu {
    margin:0px;
    color:#fff;
    font-size:0.75rem;
    background-color:#2C2C2C;
    border:none;
    border-radius: 0rem;
}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width:20px;
    height:20px;
}

a:not([href]):not([tabindex]){color:inherit;text-decoration:none}

.navbar-toggler {
    padding: 0.2rem 0.75rem 0 0.75rem;
    font-size: 0.75rem;
    border:0px;
    line-height: 0;
}
.navbar-text {
    padding-top: 0;
    padding-bottom: 0;
    color:#fff!important;
    font-size: .75rem;
}
.language-text {
    padding-top: 0;
    padding-bottom: 0;
    color:#fff!important;
    font-size: .75rem;
}
button:focus {
    outline: 0px;
}

/* right menu */

.card-header {
    padding: 0rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);
    border-bottom: 0px solid rgba(0,0,0,.125);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #2c2c2c;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#accordion2 .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem 0 1rem 0;
}

.card-body .sidebar-menu-item {
    position: relative;
    display: block;
    padding: .25rem 1.25rem;
    margin-bottom: -1px;
    background-color: #2c2c2c;
    border: 0px;
}
#accordion2 .card-body .sidebar-menu-item {
    position: relative;
    display: block;
    padding: .25rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px;
}

.card-body .sidebar-menu-item {
    color:#fff;
}

#accordion2 .card-body .sidebar-menu-item {
    color:#CC102C;
}

#accordion2 .card-body .sidebar-menu-item:hover {
    color: #6F0917;
    text-decoration: none;
}

.btn-link {
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
#accordion2 .btn-link {
    color: #1F1F2C;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e9;
    width: 100%;
    padding: 0 0 10px 0;
}
#accordion2 .card:first-child {
    padding: 20px 0 0 0;
}

.btn-link:hover {
    color: #fff;
    text-decoration: none;
}
.btn-link:focus {
    color: #fff;
    text-decoration: none;
}
.btn-link:active {
    color: #fff;
    text-decoration: none;
}
#accordion {
    padding: .25rem 0 1rem 0;
}
.accordion-header{
    padding: .75rem  0 0 1.5rem;
}
.accordion-header h3 {
    color:#fff;
}

/* right menu */

/*  Navbar    */





@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {
    min-height: 100%; 
    margin: 0 auto 0 0 ;
    background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    flex-flow: column;
}
.modal-dialog-slideout .modal-content{border: 0;}


@media (min-width: 1300px) {
    .container {
        max-width: 1260px;
    }
    .dropdown:hover > .dropdown-menu{
        display: block;
    }
}
@media (min-width: 1200px) { 
    .level1, .level2, .level3 {
        margin-left:0rem!important;
    }
 }
@media (max-width: 1119px) { 
    .level1, .level2, .level3 {
        margin-left:0.5rem!important;
    }
 }